/// @group Variables


/// Changing Susy default global settings
/// @name susy
/// @prop {Integer} columns [12] - Number of columns
/// @prop {String} container [70rem] - Container max width
/// @prop {Number} gutters [1/6] - Size of the gutter
/// @prop {String} global-box-sizing [border-box] - Display model
$susy: (
    columns           : 12,
    container         : 70rem,
    gutters           : 1/6,
    global-box-sizing : border-box,
    debug             : (
        // image: show-columns
    )
);


/// @name max-width
$max_width                 : 70rem;

// For use with margin

/// @name space
/// @group margin-space
$space                     : 1rem;
/// @name space_and_half
/// @group margin-space
$space_and_half            : $space*1.5;
/// @name space_double
/// @group margin-space
$space_double              : $space*2;
/// @name space_quad
/// @group margin-space
$space_quad                : $space*4;
/// @name space_half
/// @group margin-space
$space_half                : $space/2;
/// @name space_quarter
/// @group margin-space
$space_quarter             : $space/4;

// For use with padding

/// @name pad
/// @group padding-space
$pad                       : 1rem;
/// @name pad_and_half
/// @group padding-space
$pad_and_half              : $pad*1.5;
/// @name pad_double
/// @group padding-space
$pad_double                : $pad*2;
/// @name pad_quad
/// @group padding-space
$pad_quad                  : $pad*4;
/// @name pad_half
/// @group padding-space
$pad_half                  : $pad/2;
/// @name pad_quarter
/// @group padding-space
$pad_quarter               : $pad/4;

// Colors Starter all projects

/// @name black
/// @group default-colors
$black                     : #000000;
/// @name white
/// @group default-colors
$white                     : #FFFFFF;
/// @name dark
/// @group default-colors
$dark                      : #333333;
/// @name light
/// @group default-colors
$light                     : #EFEFEF;
/// @name grey
/// @group default-colors
$grey                      : #808080;
/// @name grey_light
/// @group default-colors
$grey_light                : #CCCCCC;
/// @name grey_lighter
/// @group default-colors
$grey_lighter              : #DDDDDD;

/// @name brand_facebook
/// @group default-colors
$brand_facebook            : #03539e;
/// @name brand_twitter
/// @group default-colors
$brand_twitter             : #35ccff;
/// @name brand_linkedin
/// @group default-colors
$brand_linkedin            : #007bb5;
/// @name brand_youtube
/// @group default-colors
$brand_youtube             : #bb0000;
/// @name brand_gplus
/// @group default-colors
$brand_gplus               : #dd4b39;


/// Blackwell specific
/// @group client-colors
$bw_blue                   : #002D62;
$bw_blueOver               : #506794;
$bw_blueAlt                : #00AEEF;
$bw_red                    : #D31145;
$bw_green                  : #8DC63F;
$bw_orange                 : #F57B20;

/// Project color Definition
/// @group
$color__copy               : #555;
$color__copyLight          : #777;
$color__header             : #333;

// Setings with colors above
/// @group
$color__primaryAction      : $bw_blueAlt;
$color__primary__hover     : darken( $color__primaryAction, 10%);
$color__secondaryAction    : $bw_blue;
$color__secondary__hover   : $bw_blueOver;
$color__third__hover       : darken( $bw_orange, 5%);
$color__promoBadge         : #D21145;

$color__error              : $bw_red;
$color__valid              : $bw_green;
$color__warning            : $bw_orange;
$color__information        : $color__copyLight;


$link__color               : $bw_blue;
$link__hover__color        : $bw_blueOver;
$link__visited__color      : $bw_blueOver;

$selected__font__color       : $white;
$selected__background__color : $bw_blue;
$invalid__background__color  : $bw_red;


//Typography
$font                      : "opensans", "Arial", sans-serif;
$font_secondary            : Georgia, Times, "Times New Roman", serif;
$line_height               : 24px/16px; // = 1.5
$fsize                     : 16px; // use @include rem(font-size, 1.6rem); for 16px font-sizes...

//Breakpoints
$bp_xsmall                 : 0320px;// / $fsize * 1rem; // 22.857142857em
$bp_small                  : 0489px;// / $fsize * 1rem; // 34.285714286em
$bp_tab                    : 0700px;// / $fsize * 1rem; // 50em
$bp_med                    : 0850px;// / $fsize * 1rem; // 60.714285714em
$bp_large                  : 1024px;// / $fsize * 1rem; // 73.142857143em

// z-index
$zi-1                      : 1;
$zi-2                      : 2;
$zi-3                      : 3;
$zi-4                      : 4;
