<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" manifest="/offline.appcache">
<![endif]-->
<!--[if gt IE 8]>
<!--> <html class="no-js" lang="en" >
<!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Apple favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">

        <!-- Browser favicons -->
        <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
        <!-- <link rel="manifest" href="/manifest2.json"> -->

        <!-- Desktop pin favicons/tiles -->
        <meta name="apple-mobile-web-app-title" content="Blackwell's">
        <meta name="application-name" content="Blackwell's">
        <meta name="msapplication-TileColor" content="#002d62">
        <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">

        <!-- Chrome specific, nav bar color on mobile -->
        <meta name="theme-color" content="#002d62">



        <meta name="description" content="">
        <title>Blackwell's | {% block page_title %}{% endblock %} </title>

        <!--[if lte IE 9]><script src="scripts/modernizr.min.js"></script><![endif]-->
        <!--[if lte IE 9]><script src="scripts/polyfill.min.js"></script><![endif]-->

        {% block head %}{% endblock %}

        <link rel="stylesheet" href="styles/font.min.css" />

        <!-- Implement localStorage font for Blackwell's fonts -->
        <script>!function(){"use strict";function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))c(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(c(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var a=document.createElement("link");a.href=o,a.rel="stylesheet",a.type="text/css",document.getElementsByTagName("head")[0].appendChild(a),document.cookie="font_css_cache"}}function c(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o="/styles/font.min.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}();
        </script>

        <link rel="stylesheet" href="styles/styles.min.css" />

    </head>

    <body>

        <div id="site-wrapper">

            <header class="main-header">
                {% include "organism/global/header/header.html" %}
            </header>

            <div class="main-navigation">
                {% include "molecule/navigation/sitenav/sitenav.html" %}
            </div>

            <div class="main-banner"></div>

            <main id="main-content">
                {% block content %}
                {% endblock %}
            </main>

            <!-- include footers files -->
            {% include "organism/global/footer/footer.html" %}


            <!-- javascript files -->
            {% block javascripts %} {% endblock %}<!-- Allow adding specific scripts on specific pages -->
            <!-- include main.min.js and eventually some libraries --><!-- For every page -->

        </div>

    </body>

</html>