@import "../generic/variables";
@import "../generic/mixins";
@import "./node_modules/susy/sass/susy";


/*----------- Main ---------------*/
html {
  font-size: 62.5%; /* => default browser font-size =16px, decrease to a 10 base font for rem*/
}

body {
    @include rem(font-size, 1.4rem); // 14px
    color       : $color__copy;
    font-family : $font;
    line-height : $line_height;
    margin      : 0;
    padding     : 0;
}

.container{
    @include container(12);
    margin    : 0 auto;
}

.content {
    @include span(9 of 12);
}

.nav-toc {
    @include span(3 last of 12);

    .h2{
        @include rem(font-size, 1.4rem);
    }
    .h3{
        @include rem(font-size, 1.2rem);
        @include rem(margin-left, 1rem);
    }
    ul{
        padding: 0;
        list-style: none;
    }
}

.box, .box_notice {
    background: #f0f0f0;
    margin: 0 0 20px;
    padding: 20px 20px 10px;
    box-shadow: $grey_light 0 1px 3px;
}

.fixedsticky { top: 0; right: 0; }

.to-be-modified{
    background-color: $grey_lighter;
    color: $grey;
}

/*---------cssStats-----------*/
#top-stats{
    @include clearfix;
     .stat-gallery {
        @include gallery(3 of 12);
    }
}
#declarations{
    @include clearfix;
     .stat-gallery {
        @include gallery(4 of 12);
    }
}
#unique-colors{
    @include clearfix;
     .stat-gallery {
        @include gallery(4 of 12);
    }
}
#unique-background-colors{
    @include clearfix;
    .stat-gallery {
        @include gallery(4 of 12);
    }
}
#unique-font-sizes{
    @include clearfix;
}
#unique-font-families{
    @include clearfix;
}
#unique-totals{
    @include clearfix;
    .stat-gallery {
        @include gallery(4 of 12);
    }
}
#specificity-graph{
    @include clearfix;
}
#rulesize-graph{
    @include clearfix;
}
#media-queries{
    @include clearfix;
}