@import "../generic/variables";
@import "../generic/mixins";
@import "./node_modules/susy/sass/susy";
@import "../doc-style/style.scss";

/*---------cssStats-----------*/
#top-stats{
    @include clearfix;
     .stat-gallery {
        @include gallery(3 of 12);
    }
}
#declarations{
    @include clearfix;
     .stat-gallery {
        @include gallery(2 of 12);
    }
}
#unique-colors{
    @include clearfix;
     .stat-gallery {
        @include gallery(4 of 12);
    }
}
#unique-background-colors{
    @include clearfix;
    .stat-gallery {
        @include gallery(4 of 12);
    }
}
#unique-font-sizes{
    @include clearfix;
}
#unique-font-families{
    @include clearfix;
}
#unique-totals{
    @include clearfix;
    .stat-gallery {
        @include gallery(2 of 12);
    }
}
#specificity-graph{
    @include clearfix;
}
#rulesize-graph{
    @include clearfix;
}
#media-queries{
    @include clearfix;
}

/*---------cssStats-----------*/
.stat-gallery {
    @include gallery(4 of 12);
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 2rem;
}
