{% extends "styleguide_base.html" %}

{% block page_title %}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

    <section class="sg-elem-variant">
        <p class="sg-elem-variant__title">Default text:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis iure aliquid omnis quis laborum nulla! Molestiae est magni earum maxime iure cum, ipsa officiis pariatur aspernatur quaerat dicta minus commodi.</p>
    </section>

    <section class="sg-elem-variant">
        <p class="sg-elem-variant__title">Bloquote:</p>
        <blockquote>Default blockquote</blockquote>
    </section>

    <section class="sg-elem-variant">
        <p class="sg-elem-variant__title">Abbr:</p>
        <abbr title="World Wide Web Consorsum">W3C</abbr>
    </section>

    <section class="sg-elem-variant">
        <p class="sg-elem-variant__title">Links:</p>
        <a href="#">Default link</a>
    </section>

    <section class="sg-elem-variant">
        <p class="sg-elem-variant__title">Headings:</p>

        <h1>I am a Header 1</h1>
        <h2>I am a Header 2</h2>
        <h3>I am a Header 3</h3>
        <h4>I am a Header 4</h4>
        <h5>I am a Header 5</h5>
        <h6>I am a Header 6</h6>
    </section>

    <section class="sg-elem-variant">
        <p class="sg-elem-variant__title">Classes for headings-like text</p>

        <p class="alpha">Class .alpha</p>
        <p class="beta">Class .beta</p>
        <p class="gamma">Class .gamma</p>
        <p class="delta">Class .delta</p>
        <p class="epsilon">Class .epsilon</p>
        <p class="zeta">Class .zeta</p>
        <p class="subheading">Class .subheading</p>
        <p class="giga">Class .giga</p>
        <p class="mega">Class .mega</p>
        <p class="kilo">Class .kilo</p>
        <p class="page-title">Class .page-title</p>
    </section>

{% endblock %}

{% block javascripts %} {% endblock %}
